{
  "default": {
    "permissions": {
      "call": [
        "swift.settings.set",
        "swift.settings.get",
        "swift.telegram.msg",
        "swift.orderbooks.cache",
        "swift.rates",
        "swift.rates.msg",
        "swift.module.cmd",
        "swift.server.cmd",
        "swift.logger.logs",
        "swift.logger.errors",
        "swift.module.list",
        "swift.module.exchanges",
        "swift.assets.get"
      ],
      "register": [],
      "publish": [
        "swift.watchdog",
        "swift.system.events"
      ],
      "subscribe": [
        "swift.system.events",
        "swift.system.settings",
        "swift.system.feed.logs",
        "swift.system.feed.errors",
        "swift.orderbooks"
      ]
    }
  },
  "module": {
    "call": ["swift.methodstate"],
    "register":["swift.api.synctime.exchangename",
    "swift.api.status.exchangename","swift.api.currencies.exchangename","swift.api.markets.exchangename","swift.api.orderbooks.exchangename","swift.api.order.create.exchangename","swift.api.order.cancel.exchangename",
    "swift.api.order.get.exchangename","swift.api.withdraw.history.exchangename","swift.api.withdraw.create.exchangename","swift.api.withdraw.inner.exchangename","swift.api.withdraw.fee.exchangename",
    "swift.api.balances.exchangename","swift.api.deposits.history.exchangename","swift.api.deposits.address.exchangename","swift.api.trade.history.exchangename",
    "swift.api.trade.active.exchangename","swift.api.trade.fee.exchangename"
    ],   
    "publish": ["swift.api.asyncresults","swift.system.events","swift.orders.events","swift.balance.events"],
    "subscribe": []
  },
  "provide": {
    "feeds":[],
    "methods":[
      {
	"uri":"swift.api.synctime.exchangename",
	"description":"If supported by exchange, receiving timestamp from remote server and correct local noncer",
	"arguments":[],
	"response":[100000001]
      },
      {
	"uri":"swift.api.currencies.exchangename",
	"description":"Get list of available currencies from exchange API",
	"arguments":[],
	"response":[100000001],
	"async_response":{"currencies":[{"id":"0","name":"BTC"}]}
      },
      {
	"uri":"swift.api.markets.exchangename",
	"description":"Get list of available markets  from exchange API",
	"arguments":[],
	"response":[100000001],
	"async_response":{"markets":[{"id":"0","name":"BTC-USDT","base_currency_id":"1","quote_currency_id":"2", "exchange_id":"1"}]}
      },
      {
	"uri":"swift.api.orderbooks.exchangename",
	"description":"Get orderbooks from exchange. Caution: only one market per request!",
	"arguments":[{"market_id":"1"}],
	"response":[100000001],
	"async_response":{"asks":[["14000.00","0.001"],["14000.00","0.001"],["14000.00","0.001"],["14000.00","0.001"]]
	,"bids":[["14000.00","0.001"],["14000.00","0.001"],["14000.00","0.001"],["14000.00","0.001"]]}
      },
      {
	"uri":"swift.api.order.create.exchangename",
	"description":"Create new limit order",
	"arguments":[{"market_id":"1","local_id":"localuuid","type":"sell","amount":"1.00000000","rate":"12500.00"}],
	"response":[100000001],
        "async_response":{"status":"1","amount":"0.001","amount_left":"0.001", "rate":"14002.01","remote_id":"someExtId","local_id":"localId","created_at":"14030234234234"}
      },
      {
	"uri":"swift.api.order.cancel.exchangename",
	"description":"Cancel order",
        "arguments":[{"remote_id":"UNIQUE_REMOTE_ID"}],
	"response":[100000001],
        "async_response":{"status":"3","amount":"0.001","amount_left":"0.001", "rate":"14002.01","ext_id":"someExtId","local_id":"localId","ts":"14030234234234"}
      },
      {
	"uri":"swift.api.order.get.exchangename",
	"description":"Get order info",
	"arguments":[{"remote_id":"1"}],
	"response":[100000001],
	"async_response":{"status":"1","amount":"0.001","amount_left":"0.001", "rate":"14002.01","ext_id":"someExtId","local_id":"localId","ts":"14030234234234"}
      },
      {
	"uri":"swift.api.withdraw.history.exchangename",
	"description":"Get withdrawals history",
	"arguments":[{"currency_id":"1"}],
	"response":[100000001]
      },
      {
	"uri":"swift.api.withdraw.create.exchangename",
	"description":"Create new withdraw",
	"arguments":[{"currency_id":"1","amount":"1.05","address":"someAddressInBlockchain"}],
	"response":[100000001]
      },
      {
	"uri":"swift.api.withdraw.inner.exchangename",
	"description":"Inner move assets between accounts",
	"arguments":[{"currency_id":"1","amount":"1.05","from":"trade","to":"main"}],
	"response":[100000001]
      },
      {
	"uri":"swift.api.withdraw.fee.exchangename",
	"description":"Get withdraw fees",
	"arguments":[],
	"response":[100000001]
      },
      {
	"uri":"swift.api.balances.exchangename",
	"description":"Get balances info",
	"arguments":[],
	"response":[100000001],
	"async_response":{"balances":[{"currency_id":"1","available":"0.100","total":"0.200","orders":"0.100"}]}
      },
      {
	"uri":"swift.api.depostist.history.exchangename",
	"description":"Get deposits history",
	"arguments":[{"currency_id":"1"}],
	"response":[100000001]
      },
      {
	"uri":"swift.api.deposits.address.exchangename",
	"description":"Get deposit address",
	"arguments":["JSONPARAMS"],
	"response":[100000001]
      },
      {
	"uri":"swift.api.trade.history.exchangename",
	"description":"Get closed orders history",
	"arguments":["JSONPARAMS"],
	"response":[100000001],
	"async_response":{"orders":[{"status":"2","amount":"0.001","amount_left":"0.001", "rate":"14002.01","ext_id":"someExtId","local_id":"localId","ts":"14030234234234"}]}
      },
      {
	"uri":"swift.api.trade.active.exchangename",
	"description":"Get active orders",
	"arguments":["JSONPARAMS"],
	"response":[100000001],
	"async_response":{"orders":[{"status":"1","amount":"0.001","amount_left":"0.001", "rate":"14002.01","ext_id":"someExtId","local_id":"localId","ts":"14030234234234"}]}
      },
      {
	"uri":"swift.api.trade.fee.exchangename",
	"description":"Get trade fees",
	"arguments":["JSONPARAMS"],
	"response":[100000001]
      }
    ]
  }
}
