api_debug=false
errors_output=true
logs_output=true
debug_outputs=false
warnings_outputs=false
reports_outputs=false
wamp_realm=realm1
wamp_home=localhost
wamp_port=8081
wamp_debug=true
mysql_host=localhost
mysql_db=swiftbot
mysql_user=root
mysql_password=
mysql_port=3306
default_currencies="usdt,eth"
clickhouse_enabled=false
clickhouse_host=
clickhouse_port=
clickhouse_user=
clickhouse_password=
clickhouse_db=
hostinfo_interval=45000
max_log_events=1000
max_logfile_size_mb=1024
exclude_pairs="ETH-BTC"
modules_debug=false
crossbar_binary=/home/kkuznetsov/.local/bin/crossbar
startup_secured=true
danger_mem_usage_pcnt=75
danger_cpu_usage_pcnt=75
before_exchanges_delay=5000
whatchdog_interval=60
whatchdog_alive_time=50

